@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import "./helpers/mixin";
@import "./helpers/variables";

@import "./assets/base";
@import "./assets/header";
@import "./assets/classes";
@import "./assets/projects";
@import "./assets/solutions";
@import "./assets/building";
@import "./assets/photo";
@import "./assets/questions";
@import "./assets/partners";
@import "./assets/review";
@import "./assets/info";
@import "./assets/footer";