.building {
    &__title {
        margin-top: 150px;
        text-align: center;
        @include font (500, 36px, $text-black)
    }

    &__row {
        @include flex (center, space-between, wrap);
    }

    &__description {
        @include font (500, 21px, $text-black);
        width: 172px;
        height: 62px;
        text-align: center;
    }

    &__item {
        max-width: 350px;
        max-height: 250px;
        background: #F7F7F7;
        padding: 59px 92px 59px 86px;
        text-align: center;
        margin-top: 30px;
    }
    &__icon {
        padding: 4px 28px 121px 280px;
    }
}