.info {
    &__title {
        @include font (500, 36px, $text-black);
        text-align: center;
        margin-top: 100px;
    }
    &__row{
        text-align: center;
        margin-top: 60px;
        @include flex (start, space-around, wrap)
    }
    &__addres {
        @include font (500, 24px, $text-gray);
        margin-bottom: 25px;
    }
    &__more {
        @include font (500, 24px, $text-black);
        max-width: 255px;
        margin: 0 auto;
    }
    &__photo {
        margin-bottom: 36px;
    }
    &__moree{
        @include font (500, 24px, $text-orange);
    }
}