.info {
    &__title {
        @include font (500, 36px, $text-black);
        text-align: center;
        margin-top: 100px;
    }
    &__row{
        text-align: center;
        margin-top: 60px;
        @include flex (baseline, space-between, wrap)
    }
    &__addres {
        @include font (500, 24px, $text-gray);
        margin-bottom: 25px;
    }
    &__more {
        @include font (500, 24px, $text-black);
        max-width: 255px;
        margin: 0 auto;
    }
    &__photo {
        margin: 36px 0px
    }
    &__moree{
        @include font (500, 24px, $text-orange);
    }
    &__photos {
        margin: 36px 0px;
    }
    &__item {
        width: auto;
    }
}

@media screen and(max-width: 608px) {
    .info {
      &__item {
        width: 50%;;
      }
    }
  }
  
@media screen and(max-width: 826px) {
    .info {
      &__row{
        justify-content: space-around; 
        flex-wrap: wrap;
        align-content: space-between;
        align-items: baseline;
      }
      }
    }