.partners{
    &__title{
        @include font (500, 36px, $text-white);
        text-align: center;
        padding-top: 100px;
        text-transform: uppercase;
    }
    &__box{
        background:  #404149;
        width: 100%;
        margin-top: 250px;
    }
    &__row{
        margin-top: 60px;
        display: flex;
        justify-content: space-around;
    }
}

@media screen and(max-width: 608px) {
    .partners {
      &__row {
        flex-wrap: wrap;
      }
    }
  }
  
@media screen and(max-width: 509px) {
  .partners {
    &__box{ 
      
      height: 100vh;
    }
    }
  }
  
@media screen and(max-width: 826px) {
  .partners {
    &__row{
      justify-content: space-evenly; 
      flex-wrap: wrap;
    }
    }
  }